﻿@using (Html.BeginForm("StartGame", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.Label("Укажите количество итераций для проверки шансов", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("itirations", 0, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Старт игры" />
        </div>
    </div>
}
